# Build
target/

# IDE
.idea/
*.iml
.vscode/

# JVM crash logs
hs_err_pid*.log
replay_pid*.log

# Test temp files
*.json
!src/**/*.json
!.commitlintrc.json
!package.json
!package-lock.json
!api-docs.json
!frontend/angular.json
!grafana/**/*.json
!frontend/tsconfig.json
!frontend/tsconfig.app.json
!frontend/tsconfig.spec.json

# OS
.DS_Store
Thumbs.db

# k6 результаты (генерируются автоматически)
load-tests/results/*.json
load-tests/results/summary.json

# Internal notes (not for git)
notes/
node_modules/
